<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <f:view>
      <h:head>
         <title>Home</title>
      </h:head>
<h:body>
      <h:form>
         <h:panelGrid>
            <h:column>
               <h:outputLabel value="Nome:"/>
               <h:inputText value="#{pessoaBean.nome}"/>
            </h:column>
            <h:column>
               <h:outputLabel value="Sobrenome:" for="sobrenome"/> <!-- outputLabel => usado para fazer referencia a algum inputText -->
               <h:inputText value="#{pessoaBean.sobrenome}" id="sobrenome"/> <!-- inputText => Usado para gravar/enviar a requisicao -->
            </h:column>
            <h:column>
               <h:outputText value="#{pessoaBean.nomeCompleto}"/> <!-- outputText => Usado para mostrar o resultado -->
            </h:column>
            <h:column><h:outputLabel value="Password:"/>
               <h:inputSecret value="#{pessoaBean.password}"/>
            </h:column>
            <h:column><h:inputTextarea id="texto_area" value="#{pessoaBean.texto}" rows="10" cols="40"/></h:column>
         </h:panelGrid>
         <h:column>
            <h:commandButton binding="#{pessoaBean.commandButton}" value="Inserir Nome na Lista" action="#{pessoaBean.addNomes}"/>
         </h:column>
         <h:column>
            <h:dataTable value="${pessoaBean.nomes}" var="usuarioNome">
               <h:column>
                  <h:outputLabel value="#{usuarioNome}"/>
               </h:column>
            </h:dataTable>
         </h:column>
      </h:form>
</h:body>
   </f:view>
</html>
